# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Node
node_modules/
package-lock.json

# OS
.DS_Store

# Application specific
*.bin
*.pickle
pdfs/

# Local data (don't commit large files)
backend/local_chroma_db/
backend/local_chroma_db/*


